<form class="well" (submit)="addTask($event)">
<div class="form-group">
    <input type="text" [(ngModel)]="title" name="title" class="form-control" placeholder="Add Task...">
</div>
</form>
<div class="container"  [hidden]="isValid">
<div id="banner" class="page-header">
<div class="row">
<div class="col-lg-6">
<h1>Loc8r<small>&nbsp;Find places to work with wifi near you</small>
</h1>
</div>
</div>
<div class="row">
<div class="col-xs-12 col-sm-8">
<div class="row list-group">
<div class="col-xs-12 list-group-item" (click)="call()">
<div *ngFor="let task of tasks" class="bod">
<h4>
{{task.title}}
<small>&nbsp;</small>
<i class="fas fa-star"></i>
<i class="fas fa-star"></i>
<i class="fas fa-star"></i>
<i class="far fa-star"></i>
<i class="far fa-star"></i>
<span class="badge pull-right badge-default">{{task.distance}}</span>

</h4>
<p class="address">
    {{task.address}}

</p>
<p>
    <span class="label label-warning">{{task.rev1}}</span>&nbsp;
    <span class="label label-warning">{{task.rev2}}</span>&nbsp;
    <span class="label label-warning">{{task.rev3}}</span>&nbsp;
    <span class="label label-warning">{{task.rev4}}</span>&nbsp;
</p>

</div>
</div>
</div>
</div>
<div class="col-xs-12 col-sm-4">
    <p class="lead">Looking for wifi and a seat? Loc8r helps you find places to work when out and about. Perhaps with coffee, cake or a pink? Let Loc8r help you find the place you're looking for.</p>
</div>
</div>
</div>
<footer>
    <div class="row">
        <div class="col-xs-12">
            <small>by Prabhjot Singh</small>
        </div>
    </div>
</footer>
</div>

<!-- next page -->


<div class="container" [hidden]="false">
        <div class="row page-header">
        <div class="col-lg-12">
        <h1>Starcups</h1>
        </div>
        </div>
        <div class="row">
        <div class="col-xs-12 col-md-9">
        <div class="row">
        <div class="col-xs-12 col-sm-6">
        <p class="rating">
        <i class="fas fa-star"></i>
        <i class="fas fa-star"></i>
        <i class="fas fa-star"></i>
        <i class="far fa-star"></i>
        <i class="far fa-star"></i>
        </p>
        <p>123 High Street, Reading ABC 123</p>
        <div class="panel panel-primary">
            <div class="panel-heading">
                <h2 class="panel-title">Opening hours</h2>
            </div>
            <div class="panel-body">
                <p>Monday - Friday : 7:00am - 7:00pm</p>
                <p>Saturday : 9:00am - 5:00pm</p>
                <p>Sunday : closed</p>
            </div>
        </div>
        <div class="panel panel-primary">
            <div class="panel-heading">
                <h2 class="panel-title">Facilities</h2>
            </div>
            <div class="panel-body">
                <span class="label label-warning">
                    <span class="glyphicon glyphicon-ok">
                        </span>&nbsp;Hot drinks</span>&nbsp;
                        <span class="label label-warning">
                            <span class="glyphicon glyphicon-ok"></span>
                            &nbsp;Food</span>&nbsp;
                            <span class="label label-warning">
                                <span class="glyphicon glyphicon-ok"></span>
                                &nbsp;Ice Cream</span>&nbsp;
                            </div>
                        </div>
                    </div>
                    <div class="col-xs-12 col-sm-6 location-map">
                        <div class="panel panel-primary">
                            <div class="panel-heading">
                                <h2 class="panel-title">Location map</h2>
                            </div>
                            <div class="panel-body">
                                <img src="http://maps.googleapis.com/maps/api/staticmap?center=51.455041,-0.9690884&amp;zoom=17&amp;size=400x350&amp;sensor=false&amp;markers=51.455041,-0.9690884&amp;scale=2" class="img-responsive img-rounded">
                            </div>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-xs-12">
                        <div class="panel panel-primary review-panel">
                            <div class="panel-heading">
                                <a href="review.html" class="btn btn-default pull-right">Add review</a>
                                <h2 class="panel-title">Customer reviews</h2>
                            </div>
                            <div class="panel-body review-container">
                                <div class="row">
                                    <div class="review">
                                        <div class="well well-sm review-header">
                                            <span class="rating">
                                                <span class="glyphicon glyphicon-star">
                                                     </span>
                                                     <span class="glyphicon glyphicon-star">
                                                          </span>
                                                          <span class="glyphicon glyphicon-star"> </span>
                                                          <span class="glyphicon glyphicon-star"> </span>
                                                          <span class="glyphicon glyphicon-star"> </span>
                                                        </span>
                                                        <span class="reviewAuthor">Simon Holmes</span>
                                                        <small class="reviewTimestamp">16 July 2013</small>
                                                    </div>
                                                    <div class="col-xs-12">
                                                        <p>What a great place. I can't say enough good things about it.</p>
                                                    </div>
                                                </div>
        <div class="review">
        <div class="well well-sm review-header">
        <span class="rating">
        <i class="fas fa-star"></i>
        <i class="fas fa-star"></i>
        <i class="fas fa-star"></i>
        <i class="far fa-star"></i>
        <i class="far fa-star"></i>
        </span>
        <span class="reviewAuthor">Charlie Chaplin</span>
        <small class="reviewTimestamp">16 June 2013</small>
    </div>
    <div class="col-xs-12">
        <p>It was okay. Coffee wasn't great, but the wifi was fast.</p>
    </div>
</div>
</div>
</div>
</div>
</div>
</div>
</div>
<div class="col-xs-12 col-md-3">
    <p class="lead">Starcups is on Loc8r because it has accessible wifi and space to sit down with your laptop and get some work done.</p>
    <p>If you've been and you like it - or if you don't - please leave a review to help other people just like you.</p>
</div>
</div>
<footer>
    <div class="row">
        <div class="col-xs-12">
            <small>by Prabhjot Singh</small>
        </div>
    </div>
</footer>
</div>




